@import 'vars';


body{
    margin: 0;
    font-family: 'AllerBold', sans-serif;
}

hr{
    margin: 0px;
    border-color: black;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

input,textarea,button{
    outline: none;
}

.header{
    width: 100%;
    height: 90px;
    background-color: #3a3d40;
    border-bottom: 4px solid  #4a4d50;
    padding: 0 10%;
    box-sizing: border-box;
    line-height: 90px;
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @media (min-width: 768px) and (max-width: 1049px){
        padding: 0 5%;
        .wrapper{
            max-width: 100%;
        }
    }
}

.navbar{
    display: flex;
    border-left: 1px solid #292c2d;
    border-right: 1px solid #424547;
    @media(min-width: 320px) and (max-width: 768px){
        display: none;
    }
}

.burger{
    width: $burger-size;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    span{
        width: 100%;
        height: 3px;
        background: #fff;
    }
    @media(min-width: 320px) and (max-width: 768px){
        display: flex;
    }
}

.logo-box img{
    vertical-align: middle;
}
.nav-link{
    display: inline-block;
    height: 85px;
    color: #d4d4d4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 14px 0 14px;
    box-sizing: border-box;
    border-right: 1px solid #292c2d;
    border-left: 1px solid #424547;
    transition: .3s linear color, .3s linear background;
}

.nav-link:hover{
    background: #35373a;
    color: #7a9cb2;
}

.nav-link:active{
    background: #2d2f31;
    color: #476c84;
}

.wrapper{
    width: 100%;
    max-width: 1366px;
    min-width: 320px;
    margin: 0 auto;
    @media (min-width: 1360px) and (max-width: 1919px) {
        max-width: 1024px;
    }    
    @media (min-width: 1050px) and (max-width: 1359px) {
        max-width: 768px;
    }
    @media (min-width: 768px) and (max-width: 1049px){
        max-width: 90%;
    }
}

.slider{
    width: 100%;
    height: 700px;
    margin-top: 50px;
    iframe{
        width: 100%;
        height: inherit;
    }
    @media(min-width: 320px) and (max-width: 499px){
        height: 200px;
    }
    @media(min-width: 500px) and (max-width: 768px){
        height: 300px;
    }
}


.section-header{
    font-size: 30px;
    font-weight: bold;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
    @media(min-width: 320px) and (max-width: 499px){
        font-size: 18px;
        margin-bottom: 0;
    }
    @media(min-width: 500px) and (max-width: 767px){
        font-size: 22px;
        margin-bottom: 0;
    }
    @media(min-width: 768px) and (max-width: 1040px){
        font-size: 26px;
    }
}

.subheader{
    color: #555;
    font-size: 20px;
    text-align: center;
    font-family: 'AllerLight';
    @media(min-width: 320px) and (max-width: 499px){
        font-size: 12px;
        margin: 5px 0 15px 0;
        padding: 0 5%;
    }
    @media(min-width: 500px) and (max-width: 767px){
        font-size: 14px;
        padding: 0 10%;
    }
    @media(min-width: 768px) and (max-width: 1040px){
        font-size: 18px;
    }
}

section{
    margin-top: 50px;
    @media (min-width: 320px) and (max-width: 1040px) {
        margin-top: 30px;
    }
}

.tabs{
    width: 100%;
}

.tabs-options{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #c5c5c5;
}

.tabs-options > div{
    width: 120px;
    height: 34px;
    border: 1px solid #c5c5c5;
    border-bottom: none;
    text-align: center;
    line-height: 34px;
    color: #555;
    font-size: 13px;
    background-color: #f8f8f8;
    cursor: pointer;
}

.tabs-options > div:first-child ~ div{
    border: 1px solid #d7d7d7;
    border-left: none;
    border-bottom: none;
}

.tabs-options > .active-tab{
    color: #6b99b6;
    background-color: #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: -2px;
}

.tabs-content{
    margin-top: 30px;
    width: 100%;
}

.tab-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    img{
        width: 43%;
    }
    div{
        width: 52%;
    }
    @media(min-width: 320px) and (max-width: 767px){
        flex-direction: column;
        align-items: center;
        img{
            width: 100%;
            max-width: 500px;
        }
        div{
            width: 100%;
            max-width: 500px;
            padding: 25px;
            box-sizing: border-box;
        }
    }
}


.header-regular{
    font-size: 20px;
    color: #555555;
    margin: 0 0 15px 0;
}

.tab-1 ul{
    margin: 0;
    padding-left: 21px;
    list-style-type: none;
}

.tab-1 ul li{
    position: relative;
}

.tab-1 > div p:nth-of-type(2){
    margin: 30px 0;
}

.tab-1 ul li:before{
    position: absolute;
    content: '';
    width: 12px;
    height: 10px;
    background-image: url(../../images/img-check-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    left: -21px;
    top: 4px;
}

.text-regular{
    font-size: 14px;
    color: #555;
    font-family: 'DroidSans';
    margin: 7px 0;
    @media(min-width: 320px) and (max-width: 499px){
        font-size: 11px;
    }
    @media(min-width: 500px) and (max-width: 767px){
        font-size: 12px;
    }
    @media(min-width: 768px) and (max-width: 1040px){
        font-size: 13px;
    }
}

div.separator-line{
    width: 100%;
    height: 3px;
    background-repeat: repeat-x;
    background-image: url(../../images/line.png);
    margin: 50px 0;
    @media(min-width: 320px) and (max-width: 767px){
        margin: 20px 0;
    }
}

.our-projects-container{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 20px;
    @media(min-width: 320px) and (max-width: 767px){
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }
}

.our-projects-container img{
    width: 100%;
}

.blog-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-container{
    width: 48%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.post-date{
    width: 50px;
    height: 50px;
    background-color: #ececec;
    border-radius: 50%;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post-date .post-day{
    font-size: 1em;
    margin: 0;
}

.post-date .post-month{
    font-size: 11px;
    margin: 0;
}
.post-content{
    width: calc(100% - 65px);
}
.post-info{
    color: #6b99b6;
    font-family: 'DroidSans';
}

.post-info > a{
    color: #6b99b6;
    text-decoration: none;
    font-size: 11px;
    transition: .3s linear all;
}

.post-info > a:hover{
    color: #6b99b6;
    font-size: 13px;
    font-weight: bold;
}

.customers-img-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    img{
        margin-top: 40px;
    }
}

.location-section iframe{
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
}

.footer{
    background-color: #3a3d40;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.footer-column{
    width: 22%;

}

.footer-header{
    color: #e3e3e3;
    text-transform: uppercase;
    font-size: 14px;
}

.posts-column{
    list-style-type: none;
}

.text-regular_light{
    font-size: 13px;
    color: #bfbfbf;
    font-family: 'DroidSans';
}
.footer-post_date{
    font-size: 11px;
    color: #787e84;
}

.separator-line_light{
    width: 100%;
    height: 3px;
    background-repeat: repeat-x;
    background-image: url(../images/line-dark.png);
}

.footer-underbox{
    width: 100%;
    background-color: #2f3235;
    border-top: 1px solid #24272a;
}

.footer-underbox .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.twitter-box{
    list-style-type: none;
}
.twitter-box li{
    margin: 13px 0;
}
.twitter-box li p{
    text-indent: 15px;
    position: relative;
    margin: 0;
}

.twitter-box li a{
    color: #7695a9;
    text-decoration: none;
    font-size: 11px;
}

.twitter-box li p:before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url(../images/img-icon-twitter.png);
    background-repeat: no-repeat;
    left: -10px;

}

form.footer-column{
    min-width: 220px;
}

.footer-input{
    width: 100%;
    height: 35px;
    background-color: #282b2d;
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #afafaf;
}

.footer-input::placeholder{
    color: #afafaf;
}

textarea[name='footer-textarea']{
    width: 100%;
    height: 140px;
    resize: none;
    background-color: #282b2d;
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: #afafaf;
}

input[type='submit']{
    width: 110px;
    height: 30px;
    background-color: #6f8da0;
    color: #fff;
    font-size: 13px;
    font-family: 'DroidSans';
    border-radius: 2px;
    border: 1px solid #2f3235;
    cursor: pointer;
    outline: none;
    background-image: linear-gradient(#6f8da0 50%, #638194 50% 100%);
}


.copyright{
    color: #a3a3a4;
    font-size: 13px;
}

.copyright a{
    color: #86acc4;
    text-decoration: none;
}




@media (min-width: 1050px) and (max-width: 1359px) {
    .slider,.slider iframe{
        height: 400px;
    }
}